.App {
  background:linear-gradient(0deg, rgb(7, 2, 94) 0%, rgba(9,9,121,1) 35%, rgb(7, 80, 175) 100%);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavLink {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 0;
}

.Logo {
  color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
}